# Завдання

#### 1. Створіть датафрейм розміром 15*5, що містить наступні дані: ####

а) ім'я та прізвище студента;

б) середній бал;

в) оцінка за поточний екзамен;

г) кількість спроб здачі поточного екзамену.

#### 2. Додайте до датафрейму стовпчик, що містить дані про допуск студента на наступний курс. ####

#### 3. Виведіть мінімальний, максимальний, середній та медіанний показники середнього балу студентів. ####

#### 4. Виведіть кількість студентів, що здали поточний екзамен з першого разу. ####

#### 5. Збережіть будь-які дані з датафрейму у вигляді серії. ####

# Розв'язок #

In [9]:
import pandas as pd

#### 1. Створення датафрейму розміром 15*5: ####

In [10]:
students = pd.read_excel("FedosiienkoLesson32dz.xlsx")
students

,Прізвище студента,Ім'я студента,Середній бал,Оцінка за поточний екзамен,Кількість спроб здачі поточного екзамену
0,Балтінісов,Кирило,62,60,2
1,Глухова,Анна,90,92,1
2,Драч,Наталя,76,74,1
3,Зезекало,Андрій,57,58,3
4,Коршун,Дмитро,65,69,2
5,Марченко,Олексій,95,94,1
6,Новінська,Валентина,74,81,1
7,Пелих,Сергій,55,50,3
8,Ставицький,Володимир,85,80,1
9,Тарасенко,Дмитро,63,62,1
10,Фесенко,Світлана,65,71,2
11,Хомут,Петро,90,100,1
12,Чернишов,Олег,82,85,1
13,Шаповалова,Ніна,72,80,2
14,Ясень,Сергій,87,88,2

In [11]:
print("Розмір виведено датафрейму становить: ", students.shape)

Розмір виведено датафрейму становить:  (15, 5)

#### 2. Додавання до датафрейму стовпчику: ####

In [12]:
mean_mark = []
for value in students[("Середній бал")]:
    if value >= 60:
        mean_mark.append("Допуск")
    else:
        mean_mark.append("Не допуск")
students["Допуск на наступний курс"] = mean_mark
students

,Прізвище студента,Ім'я студента,Середній бал,Оцінка за поточний екзамен,Кількість спроб здачі поточного екзамену,Допуск на наступний курс
0,Балтінісов,Кирило,62,60,2,Допуск
1,Глухова,Анна,90,92,1,Допуск
2,Драч,Наталя,76,74,1,Допуск
3,Зезекало,Андрій,57,58,3,Не допуск
4,Коршун,Дмитро,65,69,2,Допуск
5,Марченко,Олексій,95,94,1,Допуск
6,Новінська,Валентина,74,81,1,Допуск
7,Пелих,Сергій,55,50,3,Не допуск
8,Ставицький,Володимир,85,80,1,Допуск
9,Тарасенко,Дмитро,63,62,1,Допуск
10,Фесенко,Світлана,65,71,2,Допуск
11,Хомут,Петро,90,100,1,Допуск
12,Чернишов,Олег,82,85,1,Допуск
13,Шаповалова,Ніна,72,80,2,Допуск
14,Ясень,Сергій,87,88,2,Допуск

#### 3. Виведення мінімального, максимального, середнього та медіанного показників середнього балу студентів: ####

In [13]:
students["Середній бал"].agg(["min", "max", "mean", "median"])

min       55.000000
max       95.000000
mean      74.533333
median    74.000000
Name: Середній бал, dtype: float64

#### 4. Виведення кількості студентів, що здали поточний екзамен з першого разу: ####

In [14]:
len(students[students["Кількість спроб здачі поточного екзамену"] == 1])

8

#### 5. Збереження стовпчика "Прізвище студента" з датафрейму у вигляді серії: ####

In [15]:
last_names = students[("Прізвище студента")]
last_names

0     Балтінісов
1        Глухова
2           Драч
3       Зезекало
4         Коршун
5       Марченко
6      Новінська
7          Пелих
8     Ставицький
9      Тарасенко
10       Фесенко
11         Хомут
12      Чернишов
13    Шаповалова
14         Ясень
Name: Прізвище студента, dtype: object

In [8]:
print(type(last_names))

<class 'pandas.core.series.Series'>